$main-color: #f3f3f3;
$second-color: #212121;
$third-color: #292929;
$fourth-color: #36A2F1;

$main-text-color: #212121;
$second-text-color: #f3f3f3; 
$third-text-color: #D4D4D4;
$fourth-text-color: #36A2F1;

$first-hover-color: #3687f1;
$second-hover-color: #ffffff; 