@use '../abstracts/colors' as *;

html {
    scroll-behavior: smooth;
}


/* Header section */

header {
    position: relative;
    
    nav {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        color: $second-text-color;
        z-index: 2;
        position: fixed;
        width: 100%;
    
        img {
            max-width: 50px;
        }
    
        .menuToggleBtn {
            height: 40px;
            width: 40px;
            background-color: transparent;
            border-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            cursor: pointer;
    
            .rows {
                display: flex;
                justify-content: space-between;
                width: 40px;
                height: 4px;
                
                span {
                    width: 5px;
                    height: 5px;
                    border-radius: 30%;
                    display: block;
                    background-color: $main-color;
                }
            }
        }
    }

    .presentation {
        padding-top: 200px;
        padding-bottom: 290px;
        position: relative;

        .profile-container {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
    
            .profile-picture {
                margin: auto;
                text-align: center;
    
                img {
                    border-radius: 50%;
                }
            }

            .mobile-header-text-container {
                background: linear-gradient(to right, #36A2F1 0%, #5036F1 100%);
                max-width: 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                letter-spacing: 0.2rem;
                margin: auto;
                margin-top: 40px;
            }
        }
    } 
    
    .remove-text {
        display: none;
    }
}


@media screen and (min-width: 910px) {
    .presentation {
        max-width: 1000px;
        padding: 0;
        position: relative;
        margin: auto;

        .profile-container {
            display: flex;
            justify-content: space-between;
            height: 400px;
            line-height: 400px;

            .profile-picture {
                display: flex;
                order: 2;
                margin-right: 0px;
                padding: 0 50px;
            }

            img {
                border-radius: 50%;
                width: 350px;
                height: 350px;
            } 

            .header-text-container {
                position: relative;
                order: 1;
                width: 100%;
                text-align: center;
                font-size: 1.6rem;
                visibility: visible;
        
                h1 {
                    background: linear-gradient(to right, #36A2F1 0%, #5036F1 100%);
                    max-width: 100%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    letter-spacing: 0.2rem;
                    margin: auto;
                    order: 1;
                    line-height: 400px;
                }
            } 
        }
    }

    .mobile-header-text-container { 
        display: none;
    }

}

