@use '../abstracts/colors' as *;

main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .about-me-container {
        height: 50px;
        padding: 20px;
        padding-top: 55px;

        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            color: #212121;
            margin: auto;
            font-size: 1.7rem;
            margin-bottom: 20px;
        }

        p {
            color: $main-text-color;
            margin-bottom: 70px;
        }
    }

    .my-projects {
        background-color: $second-color;
        margin-top: 345px;
        text-align: center;
    }

    .project-container {
        padding: 50px 20px;
        margin: 20px 0;

        img {
            max-width: 100%;
        }
    }
}