@use '../abstracts/colors' as *;

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: $main-color;

    .about-me-container {
        padding: 0 20px;
        padding-top: 240px;
        padding-bottom: 240px;
        max-width: 700px;

        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            color: #212121;
            margin: auto;
            font-size: 3.4rem;
            margin-bottom: 20px;
        }

        p {
            color: $main-text-color;
            font-size: 1.5rem;
        }
    }

    .my-projects {
        background-color: $second-color;

        text-align: center;
    }

    .project-container {
        padding: 50px 20px;
        margin: 20px 0;

        img {
            max-width: 100%;
        }
    }
}


@media screen and (min-width: 910px) {
    .about-me-container {
        padding: 0 20px;
        padding-top: 240px;
        padding-bottom: 240px;
        max-width: 910px;
        margin: auto;
    }

    .my-projects-container {
        display: flex;
        margin: auto;
        text-align: center;
        padding: 0;
        max-width: 1600px;


        .left-box {
            order: 1;
            width: 50%;
        }

        .right-box {
            order: 2;
            width: 50%;
        }
    }
}