@use '../styling/abstracts/colors' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    margin: 0;
    background-color: $main-color;
    height: 100%;
    color: $main-text-color;
}

/* Text styling */

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

li {
    font-family: 'Inter', sans-serif;
}

.dark-text {
    color: $main-text-color;
}

.dark-background {
    background-color: $second-color;
}

@media screen and (max-width: 910px) {
    body, html {
        overflow-x: hidden;
    }
}